<<<<<<< HEAD
body {
  background: #000;
}

ul {
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin: 0 50px;
  height: 300px;
  width: 10px;
  background: #fff;
}

ul li::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #262626;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;

  width: 100%;
  height: 30px;
  background: #262626;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

ul li:nth-child(1) {
  background: #ffd0d0;
  box-shadow: 0 0 80px #f00,
    0 0 80px #f00,
    0 0 80px #f00;
}

ul li:nth-child(2) {
  background: #ffffd7;
  box-shadow: 0 0 80px #ff0,
    0 0 80px #ff0,
    0 0 80px #ff0;
}

ul li:nth-child(3) {
  background: #bffbbf;
  box-shadow: 0 0 80px #0f0,
    0 0 80px #0f0,
    0 0 80px #0f0;
}

ul li:nth-child(4) {
  background: #acffff;
  box-shadow: 0 0 80px #0ff,
    0 0 80px #0ff,
    0 0 80px #0ff;
}

ul li:nth-child(5) {
  background: #bebeff;
  box-shadow: 0 0 80px #00f,
    0 0 80px #00f,
    0 0 80px #00f;
}

ul li:nth-child(6) {
  background: #ffadff;
  box-shadow: 0 0 80px #f0f,
    0 0 80px #f0f,
    0 0 80px #f0f;
}

ul li:nth-child(1) {
  background: #ffd0d0;
  box-shadow: 0 0 80px #f00,
    0 0 80px #f00,
    0 0 80px #f00;
=======
body {
  background: #000;
}

ul {
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin: 0 50px;
  height: 300px;
  width: 10px;
  background: #fff;
}

ul li::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: #262626;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;

  width: 100%;
  height: 30px;
  background: #262626;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

ul li:nth-child(1) {
  background: #ffd0d0;
  box-shadow: 0 0 80px #f00,
    0 0 80px #f00,
    0 0 80px #f00;
}

ul li:nth-child(2) {
  background: #ffffd7;
  box-shadow: 0 0 80px #ff0,
    0 0 80px #ff0,
    0 0 80px #ff0;
}

ul li:nth-child(3) {
  background: #bffbbf;
  box-shadow: 0 0 80px #0f0,
    0 0 80px #0f0,
    0 0 80px #0f0;
}

ul li:nth-child(4) {
  background: #acffff;
  box-shadow: 0 0 80px #0ff,
    0 0 80px #0ff,
    0 0 80px #0ff;
}

ul li:nth-child(5) {
  background: #bebeff;
  box-shadow: 0 0 80px #00f,
    0 0 80px #00f,
    0 0 80px #00f;
}

ul li:nth-child(6) {
  background: #ffadff;
  box-shadow: 0 0 80px #f0f,
    0 0 80px #f0f,
    0 0 80px #f0f;
}

ul li:nth-child(1) {
  background: #ffd0d0;
  box-shadow: 0 0 80px #f00,
    0 0 80px #f00,
    0 0 80px #f00;
>>>>>>> bb03a35fa8ca7734b0b67246a65d50e392ba3d0b
}