* {
  margin: 0;
  padding: 0;
}

/*h1 {
  background-color: rgb(205, 243, 225);
}*/

.neon {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  margin: 0;
  color: rgb(254, 255, 200);
}

.neon:hover {
  text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 40px gold;
}


/*.neon:after {
  content: attr(data-text);
  position: absolute;
  top: 0;S
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff0;
  filter: blur(15px);
}

.neon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff0;
  z-index: -2;
  opacity: .5;
  filter: blur(80px);
}*/