body {
  color: #555;
  background-color: rgb(190, 190, 190);
}

label,
P {
  margin: 10px;
}

#target {
  min-height: 20em;
}

input[type="date"],
input[type="time"],
input[type="tel"],
input[type="text"],
#timeSelect {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 18px;
  color: #555;
}

.calBox,
#timeSelect {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 4px solid #fff;
  border-radius: 15px;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
}