body {
  color: rgb(140, 255, 184);
  background-color: #27313D;
}

P,
select {
  margin: 10px;
}

.calBox {
  margin: 0.5em;
}

.labeling {
  margin: 5px;
  width: 5em;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  color: #CCD0D5;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  border: 2px solid #31A9EE;
  border-radius: 15px;
}

#target {
  min-height: 450px;
}

input[type="date"],
input[type="time"],
input[type="tel"],
input[type="text"],
#timeSelect {
  position: relative;
  padding: 0 10px;
  width: 200px;
  height: 36px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 18px;
  color: #CCD0D5;
}

.calBox,
#timeSelect {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 36px;
  border: 4px solid #26AE90;
  border-radius: 15px;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked+.labeling,
input[type="checkbox"]:checked+.labeling {
  background: #31A9EE;
  color: #ffffff;
  border: 2px solid #6F1E51;
}

.labeling:hover {
  background-color: rgb(92, 156, 126);
}

textarea::placeholder,
input::placeholder {
  color: #16A6B6;
}

/* IE */
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #16A6B6;
}

/* Edge */
textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #16A6B6;
}