<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <form>
      <input type="radio" name="reception" id="pc" v-model="csModel" value="pc">
      <label for="pc">PC</label>
      <input type="radio" name="reception" id="cs" v-model="csModel" value="cs">
      <label for="cs">CS</label>
    </form>

    <form v-if=" csModel === 'pc'">
      <label v-for="pcradio in pcradios"><input type="radio" v-model="testname"
          :value="pcradio.value">{{ pcradio.value }}</label>
    </form>

    <form  v-if=" csModel === 'cs'">
      <label v-for="csradio in csradios"><input type="radio" v-model="testname"
          :value="csradio.value">{{ csradio.value }}</label>
    </form>

    <test-comp @update="updateForm"></test-comp>
<!-- １てんぽ遅れて反映される -->
  </div>



  <script src="vue/vue.js"></script>
</body>
</html>



<!-- https://github.com/RikuHirose/sample_board -->
