<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Multi Step Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Step:{{ stepNumber }}</h1>
        <keep-alive>
          <form-name v-if="stepNumber === 1" @update="updateForm"></form-name>
          <form-contact v-if="stepNumber === 2" @update="updateForm"></form-contact>
          <form-birthday v-if="stepNumber === 3" @update="updateForm"></form-birthday>
          <form-confirm v-if="stepNumber === 4" v-bind:form="form"></form-confirm>
        </keep-alive>
        <button class="btn btn-primary" @click="backStep" v-show="stepNumber != 1">Back</button>
        <button class="btn btn-primary" @click="nextStep" v-show="stepNumber != 4">Next</button>
      </div>
      <pre><code>{{ form }}</code></pre>
    </div>
  </div>
  <script src="vue_test\src\vue.js"></script>
</body>
</html>