#select_box {
  display: grid;
  gap: 5px;
  grid-template-columns: 160px 420px 1fr;
  grid-template-rows: 100px auto auto auto auto auto;
  justify-items: center;
  form{
    margin-bottom: 15px;
  }
  h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    margin: auto;
  }
}

#farst_form{
  grid-row: 2/3;
  grid-column: 1/3;
}

.select_area {
  grid-row: 3/4;
  grid-column: 1/3;
  select {
    width: 50px;
  }
}

#second_form{
  grid-row: 4/5;
  grid-column: 1/3;
}

#radio_left{margin-top: 0.5px;
  grid-row: 5/6;
  grid-column: 1/2;
  p{
    margin-bottom: 15.6px;
    border-bottom: 1px solid #000;
  }
}
#radio_right{
  grid-row: 5/6;
  grid-column: 2/3;
  form{
    border-bottom: 1px solid #000;
  }
}


#therd_form{
  grid-row: 6/7;
  grid-column: 1/3;
width: 180px;
  p{
    margin-top: 15px;
}
}

#log_area {
  grid-row: 7/8;
  grid-column: 1/3;
}

form,select{
  margin-bottom: 15px;
}
