#select_box {
  display: grid;
  gap: 5px;
  grid-template-columns: 800px 1fr;
  grid-template-rows: 100px 100px 300px 1fr;

  h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: center;
    margin: auto;
  }
}

.select_area {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: auto;

  select {
    width: 50px;
  }
}

#radio_area {
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0 auto;
}