#select_box {
  display: grid;
  gap: 5px;
  grid-template-columns: 800px;
  grid-template-rows: 100px 100px 300px 100px;

  h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: center;
    margin: auto;
  }
}

.select_area {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: auto;

  select {
    width: 50px;
  }
}

#radio_area {
  grid-row: 3/4;
  grid-column: 1/2;
  margin: 0 auto;

  form {
    margin-top: 20px;
  }

  label {
    margin-right: 15px;
  }
}

#log_area {
  grid-row: 4/5;
  grid-column: 1/2;
  margin: auto;
}