body{
    background: #f6f5f7;
}

main{
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 500px 200px 1fr;
  grid-template-rows:100px 50px 50px 400px 100px;
}
h1{
grid-row: 1/2;
grid-column: 2/3;
  margin: auto;
}

#category_area{
  grid-row: 2/3;
  grid-column: 2/3;
  margin: auto;
}

#counter{
  grid-row: 3/4;
  grid-column: 2/3;
  margin: auto;
}

#container{
  grid-row: 4/5;
  grid-column: 2/3;
  border: 1px solid #000;
  border-radius: 20px;
  position: relative;
  p{
    position: absolute;
    top: 370px;
    left: 20px;
  }
  #talk_script{
    p{
      position: absolute;
      top: 10px;
      left: 10px;
    }
    button{
      position: absolute;
      top: 320px;
      left: 400px;
      border: 2px solid rgba($color: #4497f7, $alpha: 1.0);
      border-radius: 5px;
      padding: 5px;
      width: 50px;
    }
  }
}