#header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  box-sizing: 100%;

  p {
    width: 100%;
    /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
    height: 1.5em;
    color: #fff;
    font-weight: bold;
    text-align: center;

    /*位置の設定 - 上下中央寄せ*/
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

.bg {
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background-image: url(/testsite/img/bg.jpg);
  background-size: cover;

  /*透過の設定*/
  opacity: 0.3;
}