* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}

header h2 {
  text-transform: uppercase;
}

header nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

header nav li {
  margin: 0 15px;
}

header nav li:first-child {
  margin-left: 0;
}

header nav li:last-child {
  margin-right: 0;
}

@media(max-width:1000px) {
  header {
    padding: 20px 50px;
  }
}

@media(max-width:700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }

  header nav li {
    margin: 0 7px;
  }
}

section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 100px;
}

@media (max-width:1000) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width:600) {
  selection {
    padding: 125px 30px;
  }
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.banner-area {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.banner-area .banner-img {
  background-image: url(/testsite/img/bg.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  z-index: -1;
}

.banner-area .banner-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}

.banner-area h1 {
  margin-bottom: 15px;
  font-size: 65px;
  font-family: merienda;
}

.banner-area h3 {
  margin-bottom: 40px;
  font-size: 25px;
}

.banner-area a.banner-btn {
  padding: 15px 35px;
  background: crimson;
  border-radius: 50px;
  text-transform: uppercase;

}

@media (max-width:800px) {
  .banner-area {
    min-height: 600px;
  }

  .banner-area h1 {
    font-size: 32px;
  }

  .banner-area h3 {
    font-size: 20px;
  }

  .banner-area a.banner-btn {
    padding: 15px 40px;
  }
}

/*about area*/
ul.about-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-content li {
  padding: 20px;
  height: 290px;
  background-clip: content-box;
  -webkit-background-size: cover;
  block-size: cover;
  background-position: center;
}

.about-left {
  flex-basis: 40%;
  background-image: url(/testsite/img/image1.jpg);
}

.about-right {
  flex-basis: 60%;
}

.about-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 2.5;
  text-align: left;
  padding-left: 0;
}

section-title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 5%;
}

.about-right h2 {
  margin-bottom: 3%;
}

.about-btn {
  padding: 15px 25px;
  background: crimson;
  border-radius: 50px;
  text-transform: uppercase;
  color: #fff;
}

@media(max-width:1000px) {

  .about-left,
  .about-right {
    flex-basis: 100%;
  }

  .about-content li {
    padding: 8px;
  }
}