* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background: #fcfcfc;
  color: #005BA6;
}


//テキストボックス
.input_form {
  position: relative;

  input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(173, 89, 89);
    background: transparent;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  & :focus~label,
  & :valid~label {
    top: -18px;
    font-size: 12px;
    transition: .5s;
  }
}

//テキストエリア
.text_area {
  position: relative;
  margin: 20px auto;

  textarea {
    border-radius: 5px;
    border: 1px solid #3bc;
    outline: none;
    background: transparent;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    color: #005BA6;
  }

  & :focus~label,
  & :valid~label {
    top: -15px;
    font-size: 12px;
    color: #005BA6;
    transition: .5s;
  }
}

//セレクトボックス

//カレンダー
.date {
  label {
    position: relative;
    display: inline-block;
  }
}