* {
  border: 1px solid black;
}

#header {
  margin: 30px 30px 30px 350px;
  width: 150px;
}

#main {
  margin-left: 20px;
  display: flex;

  #left {
    margin-left: 20px;
    display: flex;
  }

  #right {
    margin-left: 20px;
    display: flex;
  }
}