* {
  font-family: "メイリオ";
  font-weight: bold;
}

body {
  background-color: ＃F4F5F7;
}



#main {
  display: grid;
  grid-template-rows: 70px 350px 100px 1fr;
  grid-template-columns: 15px 250px 15px 250px 1fr;
}

#header {
  grid-column: 2/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  margin: auto;
}

#left,
#right {
  display: inline-block;
}

#left {
  grid-column: 2/3;
  grid-row: 2/3;
}

#right {
  grid-column: 4/5;
  grid-row: 2/3;
}

#footer {
  grid-column: 2/5;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  margin: auto;

  input {
    margin-left: 15px;
  }
}

.input_form {
  position: relative;
  margin-bottom: 10px;

  input {
    height: 2em;
    display: flex;
    align-items: center;
    border: 2px solid rgba($color: #ff0000, $alpha: .4);
    border-radius: 10px;
  }

  label {
    position: absolute;
    top: 0.35em;
    left: 5px;
    transition: .5s;
  }

  & :focus~label,
  & :valid~label {
    font-size: 12px;
    top: -12px;
  }

  input:valid {
    border: 2px solid rgba($color: #25a4f8, $alpha: .4);
  }
}

#test_text {
  border: 2px solid rgba($color: #ff0000, $alpha: .4);
  border-radius: 10px;
}

#test_text:valid {
  border: 2px solid rgba($color: #25a4f8, $alpha: .4);
}

//ラジオボタンをgetElementsByNameで取得し、'element'.checked = false でチェックを外す
//ラジオボタンnameを配列で用意してforでループするといいよ